// Specific CSS for your home-page
.titling {
    padding: 200px;
    border: 2px black;
    background-size: cover;
    height: 250px;
    h1 {
      color: white;
      text-shadow: dodgerblue 1px 1px;
    }
}
